<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/960_12_col.css">
  <title>Unicorn Ranch</title>
</head>
<body>
  <div class="container_12">
    <div class="header">
      Welcome to Unicorn Ranch
    </div>
      <% for (let unicorn of unicorns){ %>
        <div class="grid_4">
          <span class="unicorn_name"><%=unicorn.name%></span>
          <div class="unicorn">
            <label>Color</label>
            <span><%=unicorn.color%></span>
            
            <label>Favorite food</label>
            <span><%=unicorn.favorite_food%></span>

            <label>Location</label>
            <select id='<%=`${unicorn.id}`%>' class="location">
                <%- locations.map(value => {
                  let selected = (unicorn.location === value) ? 'selected' : '';
                  return `<option value='${value}' ${selected}>${value}</option>`;
                  }).join(' ');
                %>
              </select>
            </div>
              <span id="updated_<%=`${unicorn.id}`%>" class="comments">&nbsp;</span>
        </div>
      <% } %>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/app.js"></script>
</body>
</html>